In [2]:
import pandas as pd
import numpy as np

In [6]:
df = pd.DataFrame(np.arange(40).reshape(10,4),
                 columns=['col1','col2','col3','col4'])

In [7]:
df

   col1  col2  col3  col4
0     0     1     2     3
1     4     5     6     7
2     8     9    10    11
3    12    13    14    15
4    16    17    18    19
5    20    21    22    23
6    24    25    26    27
7    28    29    30    31
8    32    33    34    35
9    36    37    38    39